.conteiner {
  margin-top: 30px;
  width: 680px;
}

.list {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_conteiner {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  width: 100px;
}
