.conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* display: flex;
  justify-content: space-between; */
}

.add {
  width: 200px;
  height: 170px;
  background-color: #d0d0d038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 30px;
  cursor: pointer;
}

.btn_conteiner {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  width: 50px;
}
