.form {
  display: grid;
  flex-direction: column;
  gap: 10px;
  padding: 50px 20px;
}

/* .btn_conteiner {
  margin-top: 30px;
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.cancel {
  width: 60px;
  background-color: #fff;
  border-color: #ededed;
  color: #000000;
}

.save {
  width: 60px;
  padding: 5px;
  background-color: #42a3ce;
  color: #fff;
  border-color: #42a3ce;
  font-weight: 600;
} */
